{% extends "base.html" %} {% block extras %}
<link
  type="text/css"
  rel="stylesheet"
  href="../static/css/style.css"
  media="screen,projection"
/>
{% endblock extras %} {% block content %}
<div class="container">
  <h3>About C O D E</h3>
  <p style="text-align: justify">
    <br />
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus tincidunt
    nisi eget ligula tincidunt sagittis. Integer imperdiet metus dui, at
    accumsan mauris ullamcorper sit amet. Ut vehicula rutrum ligula, nec cursus
    purus porttitor et. Nunc iaculis nulla sit amet nisi euismod consectetur.
    Aenean quis placerat leo. Integer dictum, urna vel posuere condimentum,
    turpis est pellentesque nunc, sed fermentum lacus quam viverra arcu. Aliquam
    porta eget purus non congue. Vestibulum a diam pretium nunc pulvinar
    tincidunt. Nulla elit diam, malesuada at dignissim ac, tincidunt a diam.
    Suspendisse potenti. Mauris dictum sem pretium justo sagittis maximus. Duis
    massa neque, aliquet in urna quis, bibendum iaculis nisi. Nullam commodo ex
    sed sodales auctor. In felis metus, sodales vitae accumsan vel, blandit
    facilisis nulla.
    <br /><br />
    Etiam laoreet arcu non dictum vehicula. Nunc non iaculis magna. Quisque
    imperdiet mauris at nisl lobortis tempus. Praesent volutpat lacinia erat nec
    mollis. Phasellus ultricies tempus ultrices. Fusce auctor, justo in
    facilisis venenatis, risus ante lacinia leo, id congue nibh augue in odio.
    Nunc non ligula sit amet augue sagittis efficitur quis ut orci. Fusce
    rhoncus tellus justo, id placerat nibh lobortis vitae. Sed ac odio urna.
    <br /><br />
    Pellentesque massa urna, maximus sed dapibus quis, fringilla ut nulla. Nulla
    tempor venenatis tortor a rhoncus. Quisque consectetur id justo vel tempus.
    Cras malesuada purus nec magna placerat tristique. Pellentesque habitant
    morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia curae; Phasellus non lorem tempus nisi pulvinar
    facilisis. Morbi quis metus dictum, tincidunt ex eu, pretium nisi.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
    cubilia curae; Sed est lorem, finibus sed fringilla lacinia, tempor sed mi.
    Nunc feugiat libero ac quam iaculis, egestas lacinia quam accumsan. Vivamus
    sit amet mollis urna.
    <br /><br />
    Integer sed sollicitudin est. Quisque non mi ac nibh euismod convallis.
    Aliquam maximus eu urna quis scelerisque. Integer non ex facilisis, volutpat
    diam et, sodales tortor. Pellentesque ornare neque pellentesque libero
    pulvinar, vel eleifend metus hendrerit. Sed porta dolor euismod feugiat
    dapibus. Curabitur accumsan purus elit, non semper felis sagittis et. Etiam
    blandit, turpis quis maximus iaculis, dui metus fringilla eros, ut luctus
    odio erat eu nisi. Suspendisse dapibus nec justo ut egestas. Nunc posuere
    dui vitae ipsum sollicitudin malesuada. Phasellus nulla ligula, tristique eu
    tincidunt a, varius et dui. Proin mi urna, rhoncus vel mauris nec, rhoncus
    hendrerit nunc.
    <br /><br /><br /><br />
  </p>
</div>
{% endblock %}
