.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.over:hover {
  background-color: #263238;
}

#index-banner {
  margin-bottom: 158px;
}

.text-blog-purpose {
  text-align: justify;
  margin-top: 15px;
}

.login-btn{
  margin-right: -20px;
}

@media only screen and (max-width: 600px) {
  .img-footer {
    margin-top: 50px;
  }
}